@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --margin: 70px auto;
  --max-width:1200px;
  --max-width-sm:1000px;

  --rgb:50,50,50;
  /* --primary-rgb:65,134,255; */

  --main:rgb(var(--rgb));
  --secondary:rgba(var(--rgb), 0.6);
  --primary:rgb(var(--primary-rgb));

  --border-color:rgba(var(--rgb),0.06);
  --shadow-color:rgba(var(--rgb),0.2);
  --shadow-color-hover:rgba(var(--rgb),0.3);



  --bg-main:rgb(252,252,253);
  --bg-secondary:rgba(var(--rgb),0.03);
  --bg-primary:rgba(var(--primary-rgb),0.15);
}