@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --margin: 70px auto;
  --max-width: 1200px;
  --max-width-sm: 1000px;

  --rgb: 50, 50, 50;


  --main: rgb(var(--rgb));
  --secondary: rgba(var(--rgb), 0.6);
  --primary: rgb(var(--primary-rgb));

  --border-color: rgba(var(--rgb), 0.06);
  --shadow-color: rgba(var(--rgb), 0.2);
  --shadow-color-hover: rgba(var(--rgb), 0.3);



  --bg-main: rgb(252, 252, 253);
  --bg-secondary: rgba(var(--rgb), 0.03);
  --bg-primary: rgba(var(--primary-rgb), 0.15);
}

.active {
  color: blue;

}

.menu_btn {
  font-size: 1.8rem;
  cursor: pointer;
  color: bisque;
  display: none;
  
}

.custom-gradient-overlay {
  background: linear-gradient(180deg, rgba(0, 42, 58, 0) 37.58%, rgba(30, 30, 30, 0.9) 100%);
}

.banner-gradient {
  background: linear-gradient(269.74deg, rgba(0, 43, 58, 0) 0.22%, rgba(30, 30, 30, 0.5) 99.78%);
}



.fade-image {
  width: 100%;
  height: 400px;

  mask-image: linear-gradient(black, transparent);
  -webkit-mask-image: linear-gradient(250deg, black 10%, transparent 80%);
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/images/details1.jpeg');
  mask-image: linear-gradient(250deg, black 10%, transparent 80%);
  -webkit-mask-image: linear-gradient(250deg, black 10%, transparent 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

.content {
  text-align: center;
}

.details img{
  mask-image: linear-gradient(250deg, black 10%, transparent 80%);
  -webkit-mask-image: linear-gradient(180deg, black 10%, transparent 76%);
}

.footer-gradient-bg {
  background: linear-gradient(#002A3ACC, #002A3ACC), 
              url('/images/work.png'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh; 
}
@media (max-width:850px) {
  .menu_btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  header nav {
    justify-content: space-between;
  }

  header ul {
    position: absolute;
    top: 80%;
    left: 0;
    background: var(--bg-main);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 2px 20px 30px var(--shadow-color);
    transition: all ease-in-out 0.3s;
    height: 0;
    overflow: hidden;
  }

  header ul li a {
    display: block;
    padding: 20px 15px;
    border-bottom: 1px solid var(--border-color);
    color: black !important;
  }

  header nav .menu_btn {
    display: block;
  }
}